@font-face {
    font-family: 'HoneyFont';
    src: url('/fonts/hello_honey-webfont.woff2') format('woff2'),
         url('/fonts/hello_honey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}