.main{
    margin-left: 20vmax;
    padding-top: 5vmax;
    


    header{
        background-image: url("/img/ssshhh.jpg");
        background-size: cover;
        background-position: center;
        height: 100vmin;
        @media (max-width: 500px) and (orientation: portrait){
            height: 100vmax;
        }
    }

    .bodyblock{
        height: 100vmin;
        @media (max-width: 500px) and (orientation: portrait){
            height: 100vmax;
        }
    }

    .mainbody1{
        background-color: rgba(118, 66, 72, 0.75);
    }
    .mainbody2{
        background-color: @platinum;
    }
    .mainbody3{
        background-color: rgba(107, 127, 130, 0.75);
    }

    @media (max-width: 500px) and (orientation: portrait){
        margin-left: 0;
    }
}