.navbar {
  background-color: @salmon;
  color: @platinum;
  position: fixed;
  width: 100%;
  height: 5vmax;
  margin-top: 0;

  h1{
    text-align: center;
    font-size: 5vmax; 
    font-family: "HoneyFont", Arial, sans-serif;
    font-weight: bolder;
  }
}
.sidebar {
  background-color: @xiketic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vmax;
  position: fixed;
  width: 15vmax;
  height: 100%;
  
  a {
    font-family: "VarianeScript", Arial, sans-serif;
    text-align: center;
    padding: 3vmin;
    text-decoration: none;
    font-size: 3vmax;
    color: @platinum;
    display: block;
    border: .5vmin solid @salmon;
    border-radius: 50%;
    @media (max-width: 500px) and (orientation: portrait){
      border: none;
      font-size: 4vmin;
    }
  }

  @media (max-width: 500px) and (orientation: portrait){
    height: 5vmax;
    width: 100%;
    flex-direction: row;
    padding-bottom: 2vmin;
    
  }
}